extends layouts/main

block content
    .form-container
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", placeholder="제목", name="title", value=video.title)
            textarea(name="description", placeholder="내용")=video.description
            input(type="submit", value="비디오 업로드")
        a.form-container__link(href=routes.deleteVideo(video.id))
            button.delete 비디오 삭제