extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn Start Recording
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="제목", name="title", required=true)
            textarea(name="description", placeholder="내용", required=true)
            input(type="submit", value="비디오 올리기")